<form action="/cabins/<%= @cabin.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
Cabin Name:<input type="text" name="cabin[name]" value="<%= @cabin.name %>"><br>
Fireplace:<input type="hidden" name="cabin[fireplace]" value="false" /><input type="checkbox" name="cabin[fireplace]" <%='checked' if @cabin.fireplace == true %>> <br>
Swimming Pool:<input type="hidden" name="cabin[swimming_pool]" value="false" /><input type="checkbox" name="cabin[swimming_pool]" <%='checked' if @cabin.swimming_pool == true %>><br>
Laundry:<input type="hidden" name="cabin[laundry]" value="false" /><input type="checkbox" name="cabin[laundry]" <%='checked' if @cabin.laundry == true %>> <br>
Television:<input type="hidden" name="cabin[tv]" value="false" /><input type="checkbox" name="cabin[tv]" <%='checked' if @cabin.tv == true %>> <br>
<input type="submit" value="Submit">
<a href="/cabins"><input type="button" value=" Cancel "> </a> 
</form>