
  <% if logged_in? %>
    <h1>Cabins</h1>
    <a href ="/cabins/new"> <input type="button" value="Add Cabin"></a><br><br>
    <p>Below is a list of Users Cabins.
    
  <% @cabins.each do |cabin| %>
    <% if cabin.user_id == current_user.id || current_user.email == "admin@vacationplanner.com" %>
    <h2> Cabin Name: <%= cabin.name %> </h2>
    <h3> Features: </h3>
        <table> 
            <tr>
                <td>Swimming Pool</td> 
                <td><%= cabin.swimming_pool.to_s.capitalize %></td>
            </tr>
            <tr>
                <td>Television</td>
                <td><%= cabin.tv.to_s.capitalize %></td>
            </tr>
            <tr>
                <td>Laundry</td>
                <td><%= cabin.laundry.to_s.capitalize %></td>
            </tr>
            <tr>
                <td>Fireplace</td>
                <td><%= cabin.fireplace.to_s.capitalize %></td>
            </tr>
        </table>
        <a href="/cabins/<%=cabin.id%>/edit"><input type="button" value=" Edit "> </a> 
    <br>
    <br>
    <br>
    <% end %>
    <% end %>
    <% else %>
    Please Sign In: <a href="/"> Here </a>
    <% end %>
