<% if logged_in? %>
    <h1>Users</h1>
    
    <p>Below is a list of Users.
    
  <% @users.each do |user| %>
    <h2> Name: <%= user.first_name%> <%=user.last_name%> </h2>
      <table>
        <tr>
            <td> Email: </td>
            <td> <%= user.email %> </td>
        </tr>
        <tr>
            <td> <a href="/users/<%=user.id%>/edit"><input type="button" value=" Edit "> </a> </td>
    
            <td><form method="POST" action="/users/<%=user.id%>">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value=" Delete " />
                </form></td>
        </tr>
      </table>
    <br>
    <br>
    <% end %>
    
    <% else %>
    <% redirect to "/" %>
    <% end %>





