<% if logged_in? %>
    <% if current_user.email == "admin@vacationplanner.com" || @user.email == current_user.email %>
    <h1> User Details </h1>
    <%= @user.first_name %> 
    <%= @user.last_name %> <br>
    <%= @user.email %> <br><br>

    <a href="/cabins"><input type="button" value="Manage Cabins"></a> &nbsp;&nbsp;
    <a href="/users/<%=@user.id%>/edit"><input type="button" value="Edit User Details"></a><br><br>
    <% if current_user.email == "admin@vacationplanner.com" %>
    <a href="/users"><input type="button" value="Manage Users"></a>
    <% end %>
    <h3> Cabins: </h3>
    <% if @cabins.count == 0 %>
    <a href="/cabins/new"><input type="button" value="Add Cabin"></a><br><br>
    Create a cabin to begin!<br>
    <% else %>
    <% @cabins.each do |cabin| %>
        <ul>
        <li><a href="/cabins/<%=cabin.id%>"><%= cabin.name %></a></li> 
        </ul>
    <% end%>

    <% end %>
    <%else%>
    <% redirect "/users/#{current_user.id}" %>
    <% end %>
<% else %>
<% redirect to "/" %>
<% end %>


